/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2017, 9:07:26 AM
    Author     : User
*/
/*body *{
    font-family: @base-heading-font-family;
}*/
footer {
  background-color: rgba(0, 0, 0, 0.5);
}
.vc_responsive .container,
.vc_responsive .vc_row.container {
  margin: 0 auto;
}
section {
  clear: both;
}
.contact-form .gform_footer input {
  margin: 0 !important;
  background: #da3839;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .contact-form ul {
    position: relative;
  }
  .contact-form li {
    width: 50%;
  }
  .contact-form li.message {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 !important;
    height: 208px;
  }
  .contact-form li input {
    width: 100% !important;
  }
  .contact-form .gform_footer {
    text-align: right;
  }
}
