@import "//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i#base-heading-font-family";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2017, 9:07:26 AM
    Author     : User
*/
/*base-heading-font-family google font**/
body * {
  font-family: "Open Sans";
}
footer {
  background-color: rgba(0, 0, 0, 0.5);
}
.container,
.vc_row.container {
  margin: 0 auto;
}
section {
  clear: both;
}
.header-nav .menuzord{
	position: static;
	max-width: 1150px;
	margin:0 auto;
	float: none;
}
.header-nav .stylish-header{
	min-height: 40px;
	padding-bottom: 6px;
}
.header-nav .menuzord-menu > li > a{
	padding : 15px;
}
.header-nav .menuzord-menu ul.dropdown{
	top:50px;
	width: 100%;
}
.header-nav .header-nav-wrapper{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}