@import "variables.less";
body *{
    font-family: @base-heading-font-family;
}
footer{
    background-color: @copyright-background-color;
}
.container,.vc_row.container{
    margin: 0 auto;
}
section{
    clear: both;
}